<?xml version="1.0" encoding="UTF-8"?>
<configuration>
        <appender name="stdout"
            class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %X{Nav-CallId} [%thread] %-5level %logger{70} - %msg%n</Pattern>
            </layout>
        </appender>
        <logger name="secure" level="debug" additivity="false">
            <appender-ref ref="stdout"/>
        </logger>
        <logger name="no.nav.aap" level="trace" />
    <root level="info">
        <appender-ref ref="stdout" />
    </root>
</configuration>

